$first-colour:#8F8F8F;
$second-colour:#471D4F;
$third-colour:#EEE4F1;
$fourth-colour:#000000;
$fifth-colour:#FFFFFF;
$sixth-colour:#563461;
$background-colour:#F3F3F3;
$white-colour:#F9F9F9;
$seventh-colour:#EEE4F1;
$eighth-colour:#4D1F5B;
$nineth-colour:#BEA1C7;
$live-colour:#81CE7F;
$cardinfotitle-colour:#A6A6A6;
$tenth-colour:#F2F2F2;
$death-colour: #D85252;