
.character_card{
    width: 150px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    padding: 5px;
}

.character_img{
    height: 100px;
    width:100px;
}