body{
    font-family:sans-serif;
}

.section{
    width:600px;
    border: 2px solid #0C3938;
    margin: 20px auto;
    padding: 30px;
}

.header{
    border-bottom: 2px solid #0C3938;
    padding: 10px;
}
.logo{
    width:150px;
}

.container{
    display:flex;
    align-items: flex-start;
    justify-content: left;
    padding: 40px 0;
}

.productlist{
   width:250px;
}

.btn{
    background-color: #0C3938;
    font-size: 16px;
    color: #fff;
    border: none;
    width:200px;
    padding:15px 0;
    margin:5px;
}

.product{
    border-left: 2px solid #0C3938;
    padding-left:20px;
}

.img-product{
    width:300px;
}

.price-product{
    font-weight: bold;
    color:#0C3938
}

.btn-product{
    border:2px solid #0C3938;
    color:#0C3938;
    background-color: #fff;
    font-weight: bold;
    padding: 5px 20 px;
}
